@model ProjetoBloco.Modelo.Avaliacao

@{
    ViewBag.Title = "Comentarios";
}

<h2>Comentarios</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comente</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comentarios)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comentarios)
            @Html.ValidationMessageFor(model => model.Comentarios)
        </div>

       
        @Html.HiddenFor(model => model.Id)
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
