@{
    ViewBag.Title = "Sobre";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
       Desenvolvedores
    </p>

    <p>
       Rafael Carlos    
    </p>

    <p>
       Paulo Duarte
    </p>
</article>

<aside>
    <h3>Sistema de Questionário</h3>
    <p>
        Projeto de bloco do instituto infnet
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>